.property-image {
    height: 250px;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      height: 400px;
    }
  }

  #property {
    &.logged-in {

      margin-left: 80px;
    }

  @media (max-width: 500px) {
    .description {
      font-size: 0.8rem
    }
    .title {
      font-size: 1.2rem;
    }

    span.numbers {
      display: inline-block;
      font-size: 0.85rem;
    }
  }

  }