@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto+Slab&display=swap");

.property {
  .property-image {
    // padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
     aspect-ratio: 3 / 2;
    background-size: cover;
    background-position: center;
  }
}

#home {
  &.islogged-in {
    margin-left: 80px;
  }
  
  
  
  .empty-search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}
